<html ng-app>
<head>
	<script src="angular.js"></script>
	<script src="controllers.js"></script>
	<style>
		.error {
			background-color: red;
		}
		.warning {
			background-color: yellow;
		}
		.selected {
			background-color: lightgreen;
		}
	</style>
</head>
<body>
	<div ng-controller='HelloController'>
		<input ng-model='greeting.text'>
		<p>{{greeting.text}}, World</p>
	</div>

	<h1>Your Order</h1>
	<div ng-controller="CartController">
		<div  ng-repeat='item in items'>
			<span>{{item.title}}</span>
			<input ng-model='item.quantity'>
			<span>{{item.price | currency}}</span>
			<span>{{item.price * item.quantity | currency}}</span>
			<button ng-click="remove($index)">Remove</button>
		</div>
		<div>Total: {{bill.total | currency}}</div>
		<div>Discount: {{bill.discount | currency}}</div>
		<div>Subtotal: {{bill.subtotal | currency}}</div>
		</div>

	<form ng-controller="StartUpController" ng-submit="requestFunding()">
		Starting: <input ng-change="computeNeeded()" ng-model="startingEstimate">
		Recommendation: {{needed}}
		<button>Fund my startup!</button>
		<button ng-click="reset()">Reset</button>
	</form>
	<div ng-controller='StudentListController'>
		<ul>
			<li ng-repeat='student in students'>
				<a href='/student/view/{{student.id}}'>{{student.name}}</a>
			</li>
		</ul>
		<button ng-click="insertTom()">Insert</button>
	</div>

	<div ng-controller='DeathrayMenuController'>
		<button ng-click='toggleMenu()'>Toggle Menu</button>
		<ul ng-show='menuState.show'>
			<li ng-click='stun()'>Stun</li>
			<li ng-click='disintegrate()'>Disintegrate</li>
			<li ng-click='erase()'>Erase from history</li>
		</ul><hr>
		<div ng-class='{error: isError, warning: isWarning}'>{{messageText}}</div>
		<button ng-click='showError()'>Simulate Error</button>
		<button ng-click='showWarning()'>Simulate Warning</button>
	<div/>
</body>
</html>
